.home {
  width: 100%;
  min-height: 75vh;
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.hero {
  max-width: 600px;
  text-align: center;
  color: #ffffff;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #dddddd;
}

.hero form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero input[type="text"] {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: none;
  width: 250px;
  max-width: 100%;
  font-size: 1rem;
}

.hero button {
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: #f6f6f6;
  color: #000;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #4781bb;
  color: #fff;
}
.crypto-taple{
  max-width: 800px;
  margin: auto;
  background: linear-gradient(rgba(80,3,255,015),rgba(105,2,153,0.15));
  border-radius: 15px;
}
.table-layout{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  padding: 15px 20px;
  align-items: center;
  
}